@CHARSET "UTF-8";

body {
  background: #e9e9e9;
  color: #666666;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login-container {
	position:fixed;
	background:url("../../images/Travel04.jpeg") no-repeat;
	background-size:cover;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	
}

.login-container>div:first-child{
	position: relative;
	background-color: rgba(0, 0, 0, 0.4);
	min-height:100%;
	min-width:100%;
	position:absolute;
	left: 0px;
	top:0px;
}

.login-footer{
	display: flex;
	position: absolute;
	flex-direction: row;
	flex-wrap: nowrap;
	
	justify-content: center;
	
	width: 100%;
	bottom: 10px;
	margin-bottom: 6px;
	
	
 	
}

.login-footer>a{
 	padding: 4px 7px;
	cursor: auto;

	font-family: 'RobotoDraft', 'Roboto', sans-serif;
 	font-size: 11px;
 	color: #fff;
 	font-weight: normal;
 	text-decoration: none;	
}

.login-footer>a:hover{
	color: #33b5e5;
}

.login-logo{
	background: url("../../images/tripconn-logo/tripconn-logo-final-blue.png") no-repeat center;
	background-size: 110px;
	background-position-y: -10px;
	width: 100px;
	height: 60px;
	margin: auto;
	margin-bottom: 10px;
}

/* Form Module */
.form-module {
  position: absolute;
  background: #ffffff;
  max-width: 320px;
  width: 100%;
  border-top: 5px solid #33b5e5;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);

 top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}
.form-module .toggle {
  cursor: pointer;
  position: absolute;
  top: -0;
  right: -0;
  background: #33b5e5;
  width: 60px;
  height: 30px;
  margin: -5px 0 0;
  color: #ffffff;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}

.form-module .toggle>i{
	display: none;
}

.form-module .form {
  display: none;
  
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 30px;
  
}
.form-module .form:nth-child(2) {
  display: block;
}
.form-module h2 {
  margin: 0 0 10px;
  color: #33b5e5;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}
.form-module input {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #d9d9d9;
  margin: 0 0 10px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-wieght: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.form-module input:focus {
  border: 1px solid #33b5e5;
  color: #333333;
}
.form-module button {
  cursor: pointer;
  background: #33b5e5;
  width: 100%;
  border: 0;
  padding: 10px 15px;
  color: #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.form-module button:hover {
  background: #178ab4;
}
.form-module .cta {
  background: #f2f2f2;
  width: 100%;
  padding: 15px 40px;
  box-sizing: border-box;
  color: #666666;
  font-size: 12px;
  text-align: center;
}
.form-module .cta a {
  color: #333333;
  text-decoration: none;
}





#sexGroup{
	display: block;
	height: 33px;
	width: 100%;
	
	margin-bottom: 10px;
	
	box-sizing: border-box;
}

.radio{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	
	height: 100%;
	
	box-sizing: border-box;

}


.gender{
	display: block;
	
	position: relative;
	float: left;
	width: 48%;
	
	line-height: 30px;
	box-sizing: border-box;
}

.gender>label {
	position: absolute;
	height: 100%;
	width: 100%;
	cursor: pointer;
	
	vertical-align: middle;
	text-align: center;
	background: #fff;
	z-index: 15;
	
	box-sizing: border-box;
	
	border: solid 1px #dcdcdc;
}

.gender>input{
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0 0 0;
	
	z-index: 10;
}

.gender input:checked+label{
	border: 1px solid #33b5e5;
	background: #e8f8ff !important;
    color: #333333;
}







#birthday{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	
	height: 35px;
	width: 100%;
	margin-bottom: 10px;

	border: 0;
	line-height: 33px;
	
	box-sizing: border-box;
}

.birthday-label{
	display: block;
	
	text-align: center;
	
	border: solid 1px #dcdcdc;
	background: #dcdcdc;
	width: 22%;
	
	font-size: 12px;
}

#birthday>label{
	
	font-size: 10px !important;
	vertical-align: middle;
    text-align: center;
}



/* ---SELECT BOX---------------------------------------------- */

.select_style {
  display: block;
  position: relative;
  width: 20%;
  height: 35px;
  
  box-sizing: border-box;
  border: solid 1px #dcdcdc;
}

.select_style_year{
	width: 30%;
}

.select_style select {
  display: inline-block;
  width: 100%;
  height: 100%;
  
  padding: 5px 13px;
  cursor: pointer;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  color: ;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  
  box-sizing: border-box;
}

#year{
	padding: 5px 16px !important;
}

.select_style select::-ms-expand {
  display: none;
}
/* .select_style select:hover,
.select_style select:focus +.select_style{
  border: 1px solid #33b5e5;
} */

.select__arrow {
  position: absolute;
  top: 14px;
  right: 7px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 5px 3px 0 3px;
  border-color: #7b7b7b transparent transparent transparent;
}
.select_style select:hover ~ .select__arrow,
.select_style select:focus ~ .select__arrow {
  border-top-color: #000;
}
.select_style select:disabled ~ .select__arrow {
  border-top-color: #ccc;
}

