@CHARSET "UTF-8";

#main {
	min-height: 0px;
	padding-top: 70px;
}

.frame {
	width: 100%;
	display: flex;
}

.faside {
	display: flex;
	flex-direction: column;
	border-right: 2px solid black;
}

.faside .inframe {
	margin-top: 50px;
	margin-left: 40px;
	margin-right: 40px;
}

.inframe .left {
	width: 70px;
	margin-bottom: 30px;
	text-align: center;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	border: 1px solid #dddddd;
	background: #D5D5D5;
}

.fmain {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-left: 5%;
	margin-right: 5%;
}

.content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #F6F6F6;
}

.head {
	width: 100%;
	height: 25px;
	text-align: center;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	border: 1px solid #dddddd;
	background: #D5D5D5;
}

.spa {
	margin-top: 20px;
}

.capa {
	width: 100%;
	padding: 15px;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	border: 1px solid #dddddd;
}

.first {
	display: flex;
	margin-bottom: 10px;
}

.sel-zone {
	width: 150px;
	text-align: center;
	margin-right: 10px;
	background: #D5D5D5;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	border: 1px solid #dddddd;
}

.sel-date {
	width: 150px;
	text-align: center;
	margin-right: 10px;
	background : #D5D5D5;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	border: 1px solid #dddddd;
	
}

.second {
	width: 100%;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	border: 1px solid #dddddd;
	background: #D5D5D5;
	border-radius: 5px;
}

.blist {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.line {
	width: 100%;
	display: flex;
	padding: 5px;
	margin-top: 10px;
}

.acc-zone {
	flex-grow: 5;
	text-align: center;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	border: 1px solid #dddddd;
	background: white;
}

.mod {
	flex-grow: 1;
	text-align: center;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	border: 1px solid #dddddd;
	background: #D5D5D5;
}

.del {
	flex-grow: 1;
	text-align: center;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	border: 1px solid #dddddd;
	background: white;
}

.na {
	margin-left: 5px;
	padding: 1px;
	font-size: 12px;
}

.propic {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.pro {
	width: 70px;
	height: 70px;
	border-radius: 50px;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	border: 1px solid #dddddd;
	background:
		url("/TravelWM/resource/images/accompany-detail/2017-05-31.png")
		no-repeat center;
}

.entity {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nic {
	width: 50px;
	text-align: center;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	border: 1px solid #dddddd;
	background: #D5D5D5;
}

@media all and (max-width:910px) {
	#main {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.frame {
		width: 100%;
		background: #F6F6F6;
		box-shadow: 0 3px 3px 0 #e0e0e0;
		display: flex;
		border: 1px solid #dddddd;
	}
	.fmain {
		margin: 0px;
	}
	.faside {
		display: none;
	}
}