@CHARSET "UTF-8";

#main {
	min-height: 0px;
	padding-top: 70px;
}

.frame {
	width: 100%;
	display: flex;
}

.aside {
	max-width: 15%;
	min-width: 15%;
	padding: 10px;
	padding-top: 30px;
	flex-grow: 1;
	position: relative;
	padding-left: 10px;
	border-right: 1px solid #979797;
	box-shadow: 0px 0px 2px 0.5px #979797;
}

.aside .remote-controller>div {
	margin-bottom: 10px;
}

.aside .title {
	font-size: 20px;
	font-weight: bold;
}

.aside .title h3 {
	font-weight: bold;
}

.aside-hidden {
	display: none;
}

.aside .remote-controller {
	position: fixed;
}

.fmain {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-left: 5%;
	margin-right: 5%;
}
.content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	background: #F6F6F6;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	border: 1px solid #dddddd;
}
.content:last-child {
	margin-top: 10px;
	margin-bottom: 10px;
}

.head {
	width: 100%;
	height: 25px;
	text-align: center;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	border: 1px solid #dddddd;
	background: #D5D5D5;
}

.blist {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding:10px;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	border: 1px solid #dddddd;
}

/* --------------------팁 게시판 컨테이너----------- */

.table td{
	text-align: center;
	vertical-align: middle !important;
	padding:3px !important;
}

@media all and (max-width:768px) {
	#main {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.frame {
		width: 100%;
		background: #F6F6F6;
		box-shadow: 0 3px 3px 0 #e0e0e0;
		display: flex;
		border: 1px solid #dddddd;
	}
	.fmain {
		margin: 0px;
	}
	.faside {
		display: none;
	}
	.aside {
		display: none;
	}
	.aside-hidden {
		display: flex;
		position: fixed;
		left: 0px;
		top: 60px;
		width: 100%;
		height: 30px;
		box-shadow: 0px 0px 10px #3f3f3f;
		z-index: 1000;
		background-color: white;
		align-items: center;
		justify-content: space-around;
	}
	.table .date {
		display: none;
	}
	.table .num {
		display: none;
	}
	.table .hit {
		display: none;
	}
}