@CHARSET "UTF-8";

body{
	background: #f5f5f5;
}

.main-container{
	display: block;
	height: 100vh;
	width: 100%;	
	padding-top:;
	/* border: 2px solid red; */
	
	box-sizing: border-box;
}


.carousel{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	background-size:cover;

	left: 0;
  	top: 0;
  	
  	z-index: 11;
  	text-align: left;
	
	color: #ffffff;
	font-size: 30px;
	line-height: 50px;
	margin-bottom: 20px;
	text-shadow: none;
	text-transform: uppercase;
	
	/* border: 2px solid green; */
	box-sizing: border-box;
}

.carousel-inner{
	display: block;
	position: ;
	height: 100%;
}

.carousel-indicators{
	display: block;
	position: absolute;

}
.carousel-indicators .active {
	background-color: #fff;
	opacity: 1;
	border: 0;
}

.carousel-indicators li {
	background: #fff;
	opacity: 0.5;
}

.item{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	
	height: 100%;
	width: 100%;
	border-sizing: border-box;
}



.carousel-caption {
    display: table;
    position: relative;
    z-index: 11;
    
    min-height: 100%;
    height: 100%;
    width: 100%;
    
    top: 0;
    left: 0;
    padding-top: 50px;
    
    text-align: center;
    line-height: 24px;
    border-sizing: border-box;
    
}

.carousel-caption:before{
	content:"";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	background-color: #191919;
	opacity: 0.6;
	filter: alpha(opacity=60);
}

.caption-content{
	vertical-align: middle;
    display: table-cell;
    position: relative;
    z-index: 2;
    
    box-sizing: border-box;
        
    text-align: center;
}

.caption-content-main h2 {
	display: block;
	font-family: 'tvN-Medium';
    font-size: 50px;
    letter-spacing: 3px;
    
    text-transform: uppercase;
    text-align: center;
    
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 25px;
    margin-top: 20px;
    
    /* line-height: 1.1; */
    
    box-sizing: border-box;
    animation: moveUp 1s ease-in-out both;
}

.caption-content-main > span {
    display: block;
    font-family: 'tvN-Medium';
    font-size: 30px;
    letter-spacing: 3px;

    text-transform: capitalize;
    text-align: center;
	
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 30px;
    margin-bottom: 30px;
    
    line-height: 30px;
    
    box-sizing: border-box;    
    animation: fadeIn 0.5s linear 0.5s both;
}

.caption-content-sub h2{
	display: block;
	font-family: 'tvN-Medium';
    font-size: 50px;
    
    text-transform: uppercase;
    text-align: right;
    
    margin-left: 50px;
    margin-right: 60px;
    margin-bottom: 25px;
    margin-top: 350px;
    
    /* line-height: 1.1; */
    
    box-sizing: border-box;
    animation: moveUp 1s ease-in-out both;
}

.caption-content-sub > span {
	display: block;
	font-family: 'tvN-Medium';
    font-size: 30px;

    text-transform: capitalize;
    text-align: right;
	
	margin-left: 50px;
	margin-right: 60px;
    margin-bottom: 40px;
    
    line-height: 10px;
    
    box-sizing: border-box;    
    animation: fadeIn 0.5s linear 0.5s both;
}

span.highlight{
	background-color: rgba(0,0,0,0.4);
	padding-left: 10px;
	padding-right: 10px;
}

@keyframes moveUp{
	0%{ transform: translateY(40px);}
	100%{ transform: translateY(0px);}
}

@keyframes fadeIn{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

.btn {
    border-radius: 0;
    border: 0;
    position: relative;
    text-transform: uppercase;
    animation: fadeIn 0.5s linear 0.5s both;
}

a, a:hover, a:focus, .btn:focus {
    text-decoration: none;
    outline: none;
}


.btn-blue {
	font-family: 'tvN-Medium'; 
	font-size: 25px;	
	letter-spacing: 3px;
	
    background-color: rgba(51, 181, 229, 0.78);
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.15) inset;
    padding: 10px 20px;
    color: #fff;
}

.btn-effect {
	vertical-align: middle;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	display: inline-block;

	-webkit-transform: translateZ(0);
	   -moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		 -o-transform: translateZ(0);
			transform: translateZ(0);
		  
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
			backface-visibility: hidden;
		  
	-webkit-transition-property: color;
	   -moz-transition-property: color;
		-ms-transition-property: color;
			transition-property: color;
		  
	-webkit-transition-duration: 0.3s;
	   -moz-transition-duration: 0.3s;
		-ms-transition-duration: 0.3s;
			transition-duration: 0.3s;
		  
	-moz-osx-font-smoothing: grayscale;
}

.btn-effect:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	
	-webkit-transform: scaleX(0);
	   -moz-transform: scaleX(0);
		-ms-transform: scaleX(0);
			transform: scaleX(0);
			
	-webkit-transform-origin: 0 50%;
	   -moz-transform-origin: 0 50%;
		-ms-transform-origin: 0 50%;
			transform-origin: 0 50%;
			
	-webkit-transition-property: transform;
	   -moz-transition-property: transform;
		-ms-transition-property: transform;
			transition-property: transform;
			
	-webkit-transition-duration: 0.3s;
	   -moz-transition-duration: 0.3s;
		-ms-transition-duration: 0.3s;
			transition-duration: 0.3s;
			
	-webkit-transition-timing-function: ease-out;
	   -moz-transition-timing-function: ease-out;
		-ms-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
}

.btn-effect:hover, .btn-effect:focus, .btn-effect:active {
	color: #00BCD1;
}

.btn-effect:hover:before, .btn-effect:focus:before, .btn-effect:active:before {
	-webkit-transform: scaleX(1);
	   -moz-transform: scaleX(1);
	    -ms-transform: scaleX(1);
			transform: scaleX(1);
}

#nav-arrows > a {
	color: #fff;
	display: block;
	
	
	line-height: 76px;
	position: absolute;
	text-align: center;
	top: 50%;
	
	height: 70px;
	width: 70px;
	
	z-index: 20;
	margin-top: -30px;

    -webkit-transition: all 0.3s ease 0s;
       -moz-transition: all 0.3s ease 0s;
        -ms-transition: all 0.3s ease 0s;
         -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
}

#nav-arrows > a.sl-prev {
	display: inline-block;
	position: absolute;
	
	background: url("../../images/ic_keyboard_arrow_left_white_36dp.png") no-repeat 22px center;
	background-color: rgba(0, 0, 0, 0.2);
	
	left: -35px;
	border-radius: 100%;
	box-sizing: border-box;
}

#nav-arrows > a.sl-prev:hover {
    background-color: rgba(51, 181, 229, 0.78);
    border-color: rgba(0,188,209, 0.78);
    color: #fff;
}

#nav-arrows > a.sl-next {
    display: inline-block;
	position: absolute;
	
	background: url("../../images/ic_keyboard_arrow_right_white_36dp.png") no-repeat -6px center;
	background-color: rgba(0, 0, 0, 0.2);
	
	right: -35px;
	border-radius: 100%;
	
	text-indent: -14px;
	box-sizing: border-box;
}

#nav-arrows > a.sl-next:hover {
    background-color: rgba(51, 181, 229, 0.78);
    border-color: rgba(51, 181, 229, 0.78);
    color: #fff;
}





/* --- Board Container Part ---------------------------------------------------------- */
.service-container{
	display: flex;
	flex-direction: column;
	
	margin-top: 10px;

	width: 100%;
	/* height: 460px; */

	box-sizing: border-box;
	
	/* border: 1px solid red; */
}

.board-container{
	display: block;
	padding-top: 10px;
	
	width: 100%;
	height: 100%;
	
	box-sizing: border-box;
	
	/* border: 1px solid yellow; */
}

.board-container-title-wrapper{
	width: 1250px;
	margin: auto;
}

.board-container-title > h2{
	font-family: 'GodoM';
	font-size: 25px;
	
	letter-spacing: 2px;
	margin-left: 10px;
}
	
	
.head-line{
    content: '';
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    width: 80px;
    height: 2px;
    background: rgba(51, 181, 229, 1);
}

.board-wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
	align-content: flex-start;
	
	width: 1250px;
	height: 285px;
	
	margin: auto;
	padding: auto;
	
	box-sizing: border-box;
	
	/* border: 5px solid blue; */	
}

.board-card{
	display: block;

	float: left;
	
	
	width: 310px;
	height: 290px;

	padding: 10px;

	/* border: 5px solid green; */
}

.board-content {
	
	display: block;
	position: ;
	background: #fff;
	
	width: 100%;
	height: 100%;
	
	
	padding: 15px;

	
	float: left;

	border: 1px solid rgba(0,0,0,0.1);
}

.board-detail{
	display:flex;
	flex-direction: column;
	
	justify-content: center;
	vertical-align: middle;
	align-items: center;
	
	width: 240px;
	height: 60px;
	
	padding-bottom: ;
	
	/* border: 1px solid blue; */
}

.board-detail-wrapper{
	width: 100%;
	height: 100%;
}

.board-profile-pic{
	display: block;
	position:;

	float: left;
	left: 0px;
	
	margin-top: 4px;
	
	width: 55px;
    height: 55px;
    border-radius: 50px;
	background-position : center;	
    background-size: cover;
    border: 1px solid #dddddd;
}

.board-accompany-info{
	display: block;
	position: ;

	width: 180px;
	height: 100%;
	
	padding: 5px;
	float: right;
	
	/* background: blue; */

}

.info-item{
	height: 33%;
	font-size: 11px;
}

.item-nickname{
	font-family: 'GodoM';
	font-size: 12px;
}

.item-country-date{
	font-family: 'Spoqa';
	font-size: 10px;
	line-height: 1.5;
	margin-top: 3px;
}

.board-title{
	display:flex;
	flex-direction: column;
	
	justify-content: center;
	vertical-align: middle;
	align-items: center;
	
	
	width: 100%;
	height: 140px;
	
	/* margin-top: 10px; */
	margin-bottom: 5px;
	border-bottom: 1px solid #efefef;
	/* border-top: 1px solid #efefef; */
	/* border: 1px solid blue; */
	cursor: pointer;
}

.board-title-detail {
	display: flex;
	
	justify-content: center;
	padding: 20px;
	
	font-family: 'Spoqa-Light';
	font-size: 15px;
	
	width: 100%;
}

.board-title-detail span{
	text-align: center;
	width: 100%;
}

.board-info{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	width: 100%;
	height: 40px;
	
	font-family: 'Spoqa';
	font-wegith: 100;
	font-size: 10px;
	
	/* margin-top: 10px; */
	
	/* border: 1px solid blue; */
}

.board-info-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	
	width:;
	height: 100%;
	/* background: red; */
}

.board-info-item{
	display: table;
	
	width: 30px;
	height: 100%;
	
	color: #999;
}

.board-info-item span{
	display: table-cell;
	text-align: left;
	vertical-align: middle;
	text-align: center;
}

.item-style{
	width: 50px;
	margin-left: 5px;
}

.item-style>span{
	text-align: left;
}


.board-registration-time{
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	color: #999;
	line-height: 0.8;
	
	width: 60px;
	height: 100%;
	/* background: red; */
}

.board-registration-time span{
	text-align: center;
	width: 100%;
}

.page-info-container {
    clear: left;
    
    display: block;
    
    width: 1250px;
    height: 60px;
    
    margin: auto; 
    margin-top: 30px;
    /* border: 5px solid red;  */     
}

.more-btn{
    display: inline-block;
    float: right;
    background: #33b5e5;
 	padding: 10px 12px;
 				
 	font-family: 'GodoM';
 	font-size: 14px;
	color: #fff;
	letter-spacing: 1px;
 	text-align: center;
 	white-space: nowrap;
 				
    border: none;
    outline: none;
    border-radius: 0;

	margin-top: -10px;
 	margin-right: 20px;

    cursor: pointer;
}

.more-btn:hover{
	color: #fff !important;
	background: #0099d6;
}





/* --- Board Container Mobile Part ---------------------------------------------------------- */
@media all and (max-width: 1240px){
	.service-container{
		/* height: 820px; */
	}
	
	.board-container-title-wrapper{
		width: 780px;
	}
	
	.board-wrapper{
		width: 780px;
		height: 640px;
	}
	
	.board-card{
		width: 380px;
		height: 320px;
	}
	
	.board-title{
		height: 170px;
	}
	
	.page-info-container{
		width: 760px;
	}
}

@media all and (max-width: 890px){
	.service-container{
		/* height: 1420px; */
		width: 100%;
	}
	
	.board-container-title-wrapper{
		width: 315px;
	}
	
	.board-wrapper{
		width: 315px;
		height: 1240px;
		margin: none;
	}
	
	.board-card{
		width: 320px;
		height: 310px;
	}
	
	.board-title{
		height: 160px;
	}
	
	.page-info-container{
		width: 315px;
	}
	
	.more-btn{
		margin-right: 10px;
	}
}


.social-icon-item ol, ul{
	margin-bottom: 0;
}





/* --- HEADER FOR MAIN TRANSPARENT ---------------------------------------------------------- */
.navbar-top{
	position: absolute;
	background: transparent;
	
	top: 10px;
}

.navbar-top > ul > li:hover > a {
	background: none !important;
	color: #33b5e5 !important;
}

.sub-menu-container{
	right: 5px;
}

.default-fa{
	color: #eee !important;
}

.navbar{
	background: transparent;
	border: none;
	box-shadow: none;
}

.logo{
	background:url("../../images/tripconn-logo/tripconn-logo-final-white.png") no-repeat center;
	background-size: 90px;
	background-position-y: 0px;
	text-align: center;
}

.header-input{
	border: 1px solid #fff !important;
	border-right: none !important;
	background: transparent;
	color: #fff;
}

.header-input::placeholder{
	color: #fff;
}

.search-button{
	border: 1px solid #fff;

    background: transparent url(../../images/ic_search_white_36dp_1x.png) center no-repeat;
    background-size: 20px 20px;
}

.search-button:hover{
	background: #33b5e5 url(../../images/ic_search_white_36dp_1x.png) center no-repeat;	
	background-size: 20px 20px;
}

.default-font{
	color: #fff !important;
}

.default-font:hover{
	font-weight: 600;
	color: #33b5e5 !important;
	border-bottom: 3px solid transparent !important;
}

.fa-bars, .fa-search {
	color: #fff;
}