@CHARSET "UTF-8";

#main {
	min-height: 0px;
	padding-top: 70px;
}

.frame {
	min-width: 365px;
	display: flex;
}

.faside {
	display: flex;
	flex-direction: column;
	border-right: 2px solid black;
}

.faside .inframe {
	margin-top: 50px;
	margin-left: 40px;
	margin-right: 40px;
}

.inframe .left {
	width: 70px;
	margin-bottom: 30px;
	text-align: center;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	border: 1px solid #dddddd;
	background: #D5D5D5;
}

.fmain {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-left: 5%;
	margin-right: 5%;
}

.content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #F6F6F6;
	margin-top: 20px;
}

.head {
	width: 100%;
	height: 25px;
	text-align: center;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	border: 1px solid #dddddd;
	background: #D5D5D5;
}

.capa {
	width: 100%;
	padding: 15px;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	border: 1px solid #dddddd;
}

.first {
	width: 100%;
	height: 100px;
	margin-bottom: 10px;
	border: 2px solid orange;
}

.second {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.info-factor {
	width: 100%;
	display: flex;
}

.t-label {
	width: 100px;
	padding-right: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
}

.t-label div {
	width: 100%;
	text-align: center;
	border: 1px solid black;
}

.t-input {
	width: 200px;
	height: 22px;
}
.t-input input {
	padding-left: 10px;
	width: 100%;
}

.t-select {
	width: 200px;
}

.t-select select {
	width: 100%;
}

.t-area textarea {
	padding: 10px;
}

.t-display {
	width: 200px;
	height: 26px;
	background: white;
	padding-left: 10px;
	border: 1px solid #D5D5D5;
}

.btn-custom {
	margin-left: 15px;
}

.info-factor .btn-custom {
	margin-left: auto;
}

.customs {
	width: 50px;
	height: 23px;
	padding: 0px;
}

@media all and (max-width:910px) {
	#main {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.frame {
		width: 100%;
		background: #F6F6F6;
		box-shadow: 0 3px 3px 0 #e0e0e0;
		display: flex;
		border: 1px solid #dddddd;
	}
	.fmain {
		margin: 0px;
	}
	.faside {
		display: none;
	}
}