@CHARSET "UTF-8";
.hidden{
	display:none;
}
.main{
	margin-top:60px;
	display:flex;
	flex-wrap:wrap;
	min-height:0px;
}

.fake{
	max-width:5%;
	min-width:5%;
	flex-grow:1;
}


.frame {
	margin-left: 10%;
	margin-right: 10%;
	background: #F6F6F6;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	display: flex;
	border: 1px solid #dddddd;
	flex-grow:2;
	margin-top:30px;
	margin-bottom:30px;
}

.frame .delete-tip>div{
	margin-left:5px;
}
.content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;
}

.head {
	display: flex;
	width: 100%;
}

.profile {
	display: flex;
	flex-grow: 2;
}

.pic {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	background:
		url("/TravelWM/resource/images/accompany-detail/2017-05-31.png")
		no-repeat center;
	background-size: cover;
	border: 1px solid #dddddd;
}

.info {
	width: 200px;
	height: 100px;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-left: 10px;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	background: #D5D5D5;
	border: 1px solid #dddddd;
}

.info .item {
	box-shadow: 0 3px 3px 0 #e0e0e0;
	flex-grow: 1;
	border: 1px solid #dddddd;
	display:flex;
	align-items:center;
	justify-content:center;
}

.bookmark {
	flex-grow: 1;
	display: flex;
	justify-content: flex-end;
}

.bookmark a {
	margin-right: 10px;
	height:24px;
}

.detail-title {
	width: 100%;
	text-align: center;
	min-height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	background: #D5D5D5;
	border: 1px solid #dddddd;
	display:flex;
	justify-content:center;
	align-items:center;
}

.text {
	width: 100%;
	min-height: 400px;
	padding: 10px;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	background: #D5D5D5;
	border: 1px solid #dddddd;
}

.foot {
	width: 100%;
	margin: 10px;
	border-bottom: 3px solid black;
}

.reply {
	width: 100%;
	height: 30px;
	display: flex;
	justify-content: space-between;
}

.left {
	width: 150px;
	display: flex;
}

.left .view {
	display: flex;
	margin-left: 15px;
	align-items: center;
}

.right {
	display: flex;
	margin-left: 15px;
	align-items: center;
}

.rep {
	width: 100%;
	min-height: 70px;
	padding: 3px;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	border: 1px solid #dddddd;
}

.content .delete-tip{
	width:100%;
	display:flex;
	justify-content:flex-end;
	margin-top:10px;
}
.void  {
	width: 100%;
	height: 100%;
	display: flex;
	padding: 5px;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	border: 1px solid #dddddd;
}

.re-text {
	flex-grow: 5.5;
	margin-right: 5px;
}

.re-text textarea {
	width: 100%;
	height: 100%;
	padding: 5px;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	border: 1px solid #dddddd;
}

.re-list {
	width: 100%;
	min-height: 100px;
	padding: 3px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	border: 1px solid #dddddd;
}
.list-void  {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 5px;
}

.id-date {
	width: 100%;
	height: 20px;
	padding-right: 5px;
	margin-bottom: -5px;
	display: flex;
	justify-content: space-between;
}

.re-id {
	width: 120px;
	margin-left: 63px;
	display: flex;
	justify-content: center;
	border: 1px solid #dddddd;
}

.re-date {
	width: 120px;
	text-align: conter;
	display: flex;
	justify-content: center;
	border: 1px solid #dddddd;
}

.list-content {
	
	width: 100%;
	height: 100%;
	display: flex;
	padding: 5px;
}

.list-pic {
	width: 53px;
	height: 53px;
	border-radius: 50px;
	margin-right: 5px;
	background:
		url("/TravelWM/resource/images/accompany-detail/2017-06-08.png")
		no-repeat center;
	background-size: cover;
	border: 1px solid #dddddd;
}

.list-text {
	flex-grow: 6;
	padding: 5px;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	border: 1px solid #dddddd;
}

@media all and (min-width:480px) and (max-width:760px) {

	.frame {
		background: #F6F6F6;
		box-shadow: 0 3px 3px 0 #e0e0e0;
		display: flex;
		border: 1px solid #dddddd;
		margin-left:5%;
		margin-right:5%;
	}
	
}
@media all and (max-width:480px) {

	.frame {
		margin-top:10px;
		margin-bottom:0px;
		margin-left:0px;
		margin-right:0px;
	}	
}