
@CHARSET "UTF-8";
/* ---------------- 공통영역 ----------------- */
.select{
	height:30px;
}

a:hover{
 	font-weight: bold;
 	text-decoration: none;
}

#footer{
	margin-top:0px;
}


/* -----------------메인 ----------------------- */
.main{
	margin-top:60px;
	display:flex;
	flex-wrap:wrap;
	min-height:0px;
}

.fake{
	max-width:10%;
	min-width:10%;
	flex-grow:1;
}
/* --------------------커뮤니티 게시판 목록 ---------*/

.aside{
	max-width:15%;
	min-width:15%;
	padding:10px;
	padding-top:30px;
	flex-grow:1;
	position:relative;
	padding-left:10px;
	border-right: 1px solid #979797;
	box-shadow : 0px 0px 2px 0.5px #979797;
}

.aside .remote-controller>div{
	margin-bottom:10px;
}
.aside .title{
	font-size:20px;
	font-weight: bold; 
}
.aside .title h3{
	font-weight: bold; 

}

.aside-hidden{
	display: none;
}

.aside .remote-controller{
	position:fixed;
}


/* --------------------팁 게시판 컨테이너----------- */
.tip-container{
	margin-top:30px;
	flex-grow:1;
	display:flex;
	flex-direction:column;
	padding:15px;
	width:74%;
	margin-left:1%;
	margin-bottom:30px;
	
	background-color: #ffffff;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	border: 1px solid #dddddd;
}

.tip-container .category{
	flex-grow:2;
}

.tip-container>div{
	margin-bottom:10px;
}


.tip-container .table{
	flex-grow:4;
}

.tip-container .foot{
	flex-grow:1;
}

.table td{
	text-align: center;
	vertical-align: middle !important;
	padding:3px !important;
}

.search{
	margin-bottom:5px;
}
.search .search-button{
	outline: none;
}
.foot .page{
	display:flex;
	justify-content:center;
}

.foot .write{
	display:flex;
	justify-content:flex-end;
}


/* -----------------카테고리 검색-------------- */

.category{
	display:flex;
	flex-direction:column;
}

.category .title h2{
	font-size: 20px;
	
}

.category .search{
	display:flex;
	justify-content:flex-end;
}


.category .line{
	border-bottom:1px solid #979797;
	margin-bottom:20px
}

.category .filter .select{
	width:150px;	
}


.search>div{
	margin-left:5px;
	display:flex;
	align-items:center;
}

/* ----------------미디어쿼리----------------- */
@media all and (max-width:760px){
	.fake{
		display:hidden;
	}
	
	.category .filter .select{
		width:100%;
	}
	.aside{
		display:none;
	}
	.main{
		flex-direction:column;
		margin-top:80px;
	}
	
	.aside-hidden{
		display:flex;
		position:fixed;
		left:0px;
		top:50px;
		width:100%;
		height:30px;
		box-shadow: 0px 0px 10px #3f3f3f;
		z-index: 1000;
		background-color: white;
		align-items:center;
		justify-content: space-around;
		
	}
	
	.tip-container{
		padding:15px;
		margin-left:5%;
		margin-right:5%;
		width:inherit;
		margin-top:0px;
		margin-bottom:0px;
	}
	
	.table .date{
		display:none;
	}
	
	.table .category{
		display:none;
	}
	
	.table .num{
		display:none;
	}
	
	.table .hit{
		display:none;
	}
	
}

@media all and (max-width:480px){
	.tip-container{
		margin-left:0px;
		margin-right:0px;
	}
	
	
	
}