
@CHARSET "UTF-8";

/* ----------------------- 전체 영역 ----------------------- */
.main{
	margin-top:50px;
	display:flex;
		
}

.aside{
	border:2px solid red;
	height:100%;
	max-width:200px;
	min-width:200px;
}

.tip-container{
	border:2px solid black;
	height:100%;
	width:100%;
	margin-right:200px;
	display:flex;
	flex-direction:column;
	
}