@CHARSET "UTF-8";

.bg {
	bottom: 0px;
	left: 0px;
	position: fixed;
	right: 0px;
	top: 0px;
	min-width: 800px;
}

.tool  {
	background-color: #f7f4f4;
	border-radius: 8px;
	height: 550px;
	margin-top: -266px;
	width: 400px;
	left: 50%;
	top: 50%;
	position: absolute;
	transform: translateX(-50%);
}

@media screen and (min-width: 737px) {
	.bg {
		min-width: 737px;
	}
}

@media screen and (min-width: 737px) and (max-width: 1200px) {
	.bg {
		min-width: 790px;
	}
}

@media screen and (max-width: 736px) {
	.bg {
		min-width:3px;
	}
	
	.tool {
		width: 310px;
		height: 550px;
	}
}

.tool-in  {
	display: inline-block;
	height: 100%;
	width: 100%;
	vertical-align: top;
}

.logo-box {
	margin: 30px auto 0;
	position: relative;
	height: 55px;
	width: 55px;
}

.intro  {
	margin: 5px 26px 20px;
	text-align: center;
	font-weight: bold;
	font-size: 1.3em;
	color: #555;
}

.sub-intro {
	margin: -10px 26px 30px;
	text-align: center;
	font-weight: bold;
	font-size: 1em;
	color: #b5b5b5;
}

.login-box {
	margin: 0 auto;
	position: relative;
	text-align: center;
}

.login-box-detail {
	margin:0 auto;
	width:268px;
}

.login-form {
	position:relative;
	margin-bottom:7px;
}

.login-input {
	background-color: #f0f0f0;
	border: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	border-radius: 3px;
	font-weight: bold;
	padding: 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	color: #333;
	font-size: 1em;
	outline: none;
}

.login-button {
	border: 0px;
	height: 36px;
	display: inline-block;
	border-radius: 4px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 0 18px;
	font-size: 1em;
	font-weight: bold;
	outline: none;
	position: relative;
	-webkit-box-shadow: none;
	box-shadow: none;
	cursor: pointer;
	margin-top: 10px;
	vertical-align: middle;
	text-align: center;
	background-color: #bd081c;
	color: #fff;
	width: 100%;
}

.or {
	margin-bottom: 3px;
	overflow: hidden;
	text-align: center;
	color: #555;
	font-weight: bold;
}

.help {
	margin-bottom: 3px;
	overflow: hidden;
	text-align: center;
	color: #555;
	font-size: 0.8em;
}

.precautions {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 0.6em;
	font-weight: normal;
	text-align: center;
	-webkit-transition: opacity .2s linear;
	transition: opacity .2s linear;
	color: #aaa;
	width: 224px;
}