@CHARSET "UTF-8";

  header{
  	order:1;
  }
  
  body {
    display: flex;
    min-height: 800px;
    flex-direction: column;
    padding-top:70px;
  }

  main {
    flex: 1 0 auto;
 	min-height: 100vh;
  }
  
  footer{
  	order:99;
  	background-image: black;
  	padding:10px;
  	margin-top:70px;
  }
  