@CHARSET "UTF-8";
@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,300italic");


.navbar{
	height:60px;
}

.navbar-default{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	
	background-color: rgba(0, 188, 209, 1);
	box-shadow: ;
	border-bottom: 0px;
}

.logo{
	order: 1;
	
	height: 100%;
	width: 100px;
	
	text-align: center;
}

.search-bar{
	order: 2;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	
	height: 100%;
	width: 400px;

	align-items:center;
}

.search-bar-container{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.form-control{
	
}

.form-control-header{
	
	display: block;
		
	width: 180px !important;

	border: none;
	border-radius: 0;
}

.search-bar-container>input:first-child{
	border-right: 1px solid #e4e4e4;
}

.search-button{
	width: 40px;
	height: 34px;
	
	border: 0 none;
	cursor: pointer;

    background: #76d3de url(../../images/ic_search_white_36dp_1x.png) center no-repeat;
    background-size: 24px 24px;
}


.menu-bar{
	order:99;
	min-width: inherit;
	height:60px;
	display: flex;
	align-items:center;
	justify-content:flex-end;
	flex-grow:2;
}
.accompany{
	display:flex;
	order:4;
	height:inherit;
	padding-right: 10px;
}

.accompany li{
	display: flex;
	height:initial;
	
	margin-left:25px;
	align-items:center;
	
	font-size:13px;
	color:#d0ECEA;
	
	white-space: nowrap;
	overflow: hidden;
	
	margin-top:5px;
}

.accompany li:hover{
	cursor: pointer;
	border-bottom: 2px solid #fff;
	color:#fff;
	text-decoration:none;
	background:transparent;
	margin-top:7px;
}


.accompany li a{
	font-size:12px;
	color:#d0ECEA;
}

.accompany .except-li a:hover{
	margin-top:0px;
	border-bottom: 0px;
	text-decoration: none;
	color:#d0ECEA;
}


.accoompany>li{
	align-items:center;
}

.mypage{
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	
	width: 130px;
	
	heigth: 100%;
	
	font-size: 12px !important;
	
	order:99;
}

.mypage li{
	margin-left:20px;

}

.fa{
	font-size: 17px !important;
	color: #fff !important;
}

.fa:hover{
	color: #008e9e !important;
}

.body{
	font-size: 13px;
}
