 @CHARSET "UTF-8";
 
/* 페이지 이동 버튼 */
#move-page-button{
	background-color: #00BCD1;
	border-color:#00BCD1;
}

#move-page-button-number{
	color:#00BCD1;
}

#main-container{
 	display: flex;
 	flex-direction: row;
 	
 	width: 65%;
 	height:100%;
 
 	margin-top: 115px;
 	
 	border: 5px solid red;
}

#footer{
	width: 65%;
}

.footer-container{
	width: 100%;
	margin: auto;
}
 
.footer-content-wrapper{
	margin: 0;
} 

#map-container{
 	
 	display: inline-box;
 	position: fixed;
 	
	padding-top: 60px;
 	right: 0%;
 	width: 35%;
 	height: 100%;

 }
 
#filter-container{
	flex-grow: 1;
	
	display: flex;
	position: fixed;
	
	
	width: 65%;
	min-height: 65px;
	margin-top: 60px;
	
	border: 5px solid green;
}


#map-wrapper{
	display: flex;
	width: 100%;
	height: 100%;
}

.filter-item-container{
	display: flex;

	height: inherit;
	width: 100%;
	border-bottom: 0px;

	align-items: center;
	
	background: white;
	border: 5px solid gold;
	z-index: 9999;
}

.btn-filter{
	margin-left: 10px;
}

.btn-write{
	margin-left: auto;
	margin-right: 10px;
}

.board-container{
 	display: block;
 	/* flex-direction: row;
 	flex-wrap: wrap;
 	justify-content: center; */

 	
 	width: 100%;
 	height:1100px;
 	
 	padding-top: 40px;
 	
 	box-sizing: border-box;
 	
 	border: 5px solid yellow;
}

.board-wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	width: 800px;
	height: 970px;
	
	margin: auto;
	
	box-sizing: border-box;

	border: 5px solid pink;
	
}


.board-card{
	display: block;

	float: left;
	
	
	width: 395px;
	height: 320px;

	padding: 10px;
	
	border: 5px solid green;
}

.board-content {
	
	display: block;
	position: ;
	
	width: 100%;
	height: 100%;
	background: silver;
	
	padding: 15px;

	
	float: left;
	box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
	
	border: 5px solid red;
}

.board-bookmark{
	display: block;
	position: ;
	
	width: 40px;
	height: 40px;
	
	float: right;

	background: pink;
}

.board-detail{
	display:flex;
	flex-direction: column;
	
	justify-content: center;
	vertical-align: middle;
	align-items: center;
	
	width: 270px;
	height: 60px;
	
	padding-bottom: ;
	
	border: 1px solid blue;
}

.board-detail-wrapper{
	width: 100%;
	height: 100%;
}

.board-profile-pic{
	display: block;
	position:;
	
	width: 55px;
	height: 100%;
	
	float: left;
	left: 0px;
	
	background: pink;
}

.board-accompany-info{
	display: block;
	position: ;

	width: 205px;
	height: 100%;
	
	padding: 5px;
	float: right;
	
	background: blue;

}

.info-item{
	height: 33%;
	font-size: 12px;
}

.board-title{
	display:flex;
	flex-direction: column;
	
	justify-content: center;
	vertical-align: middle;
	align-items: center;
	
	
	width: 100%;
	height: 120px;
	
	margin-top: 10px;
		
	border: 1px solid blue;
}

.board-title-detail {
	display: flex;
	
	justify-content: center;
	padding: 20px;
	
	width: 100%;
}

.board-title-detail span{
	text-align: center;
	width: 100%;
}

.board-info{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	wdith: 100%;
	height: 50px;
	
	margin-top: 10px;
	
	border: 1px solid blue;
}

.board-info-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	
	width: 205px;
	height: 100%;
	background: red;
}

.board-info-item{
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	width: 55px;
	height: 100%;
	
	margin-right: 10px;
	
	text-align: center;
}

.board-registration-time{
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	width: 55px;
	height: 100%;
	background: red;
}

.board-registration-time span{
	text-align: center;
	width: 100%;
}

.page-info-container {
    clear: left;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 800px;
    height: 55px;
    
    margin: auto;	
    margin-top: 30px;
    
    border: 3px solid red;      
}

.page-info-container span{
	text-align: center;
	width: 100%;
}

.page-info-container .page{
	display:flex;
	justify-content:center;
	align-items:center;
}

@media all and (max-width: 1240px){
	.board-container{
		height: 2060px;
		width: 100%;
	}
	
	.board-wrapper{
		width: 400px;
		height: 1930px;
	}
	
	.page-info-container{
		width: 400px;
	}

}

@media all and (max-width: 768px){
		
	#main-container{
		display: block;
		width: 100%;
		
	}
	
	#filter-container{
		width: 100%;
		min-width: 320px;
	}
	
	.board-container{
		height: 1920px;
		width: 100%;
		

	}
	
	.board-wrapper{
		width: 290px;
		height: 1750px;
	}

	.board-content{
		padding: 10px;
	}
	.board-card{
		width: 280px;
		height: 280px;
		padding: 0px;
	}
	
	.board-bookmark{
		width: 30px;
		height: 30px;
		
	}
	
	.board-detail{
		width: 200px;
		height: 55px;
	}
	
	.board-accompany-info{
		width: 140px;
	}
	
	.board-title{
		height: 115px;
		margin-top: 15px;
	}
	
	.board-info{
		margin-top: 15px;
		height: 40px;
	}
	
	.board-info-item{
		width: 40px;
	}
	
	
	#map-container{
		display: inline-block;
		position: relative;
		float: left;
		clear: both;
		
		padding-top: 0px;
		height: 500px;
		width: 100%;
	}
	
	.page-info-container{
		width: 300px;
	}
	
	#footer{
		width: 100%;
		margin-top: 0px;
	}
	
}