 @CHARSET "UTF-8";
 

body{
	background: #fafafa;
}

 
/* 페이지 이동 버튼 */
#move-page-button{
	background-color: #33b5e5;
	border-color:#33b5e5;
}

#move-page-button-number{
	color:#33b5e5;
}

#main-container{
 	display: flex;
 	flex-direction: row;
 	
 	width: 65%;
 	height:;
 
 	margin-top: 115px;
 	
 	/* border: 5px solid red; */
}

#footer{
	width: 65%;
}

.footer-container{
	width: 100%;
	margin: auto;
}
 
.footer-content-wrapper{
	margin: 0;
} 

#map-container{
 	
 	display: inline-box;
 	position: fixed;
 	
	padding-top: 60px;
 	right: 0%;
 	width: 35%;
 	height: 100%;

 }
 
#filter-container{
	flex-grow: 1;
	
	display: flex;
	position: fixed;
	
	
	width: 65%;
	min-height: 65px;
	margin-top: 60px;
	
	z-index:1995;
	/* border: 5px solid green; */
}


#map-wrapper{
	display: flex;
	width: 100%;
	height: 100%;
}

.filter-item-container{
	display: flex;

	height: inherit;
	width: 100%;
	border-bottom: 0px;

	align-items: center;
	
	background: white;
	
	border-bottom: 1px solid #e8f8ff;
	/* border: 5px solid gold; */
	z-index: 9999;
}

.btn-filter{
	margin-left: 10px;
}

.btn-write{
	margin-left: auto;
	margin-right: 10px;
}

.board-container{
 	display: block;
 	/* flex-direction: row;
 	flex-wrap: wrap;
 	justify-content: center; */

 	
 	width: 100%;
 	height:1140px;
 	
 	padding-top: 40px;
 	
 	box-sizing: border-box;
 	
 	/* border: 5px solid yellow; */
}

.board-wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	width: 800px;
	height: 970px;
	
	margin: auto;
	
	box-sizing: border-box;

	/* border: 5px solid pink; */
	
}


.board-card{
	display: block;

	float: left;
	
	
	width: 395px;
	height: 320px;

	padding: 10px;
	
	/* border: 5px solid green; */
}

.board-content {
	
	display: block;
	position: ;
	background: #fff;
	
	width: 100%;
	height: 100%;
	background: #fff;
	
	padding: 15px;

	
	float: left;

	
	/* border: 5px solid red; */
}


.board-bookmark, .fa-bookmark{
	display: block;
	position: relative;
	float: right;

	font-size: 28px !important;	
	top: -17px;
	left: 4px;
	
	cursor: pointer;
	
	color: #2e2e2e !important;
}

.fa-bookmark:hover{
	color: #87deff !important;
}


.board-detail{
	display:flex;
	flex-direction: column;
	
	justify-content: center;
	vertical-align: middle;
	align-items: center;
	
	width: 270px;
	height: 60px;
	
	padding-bottom: ;
	
	/* border: 1px solid blue; */
}

.board-detail-wrapper{
	width: 100%;
	height: 100%;
}

.board-profile-pic{
	display: block;
	position:;
	
	width: 55px;
	height: 100%;
	
	float: left;
	left: 0px;
	
	margin-top: 4px;
	
	width: 55px;
    height: 55px;
    border-radius: 50px;
    box-shadow: 0 3px 3px 0 #e0e0e0;
    background: url(/TravelWM/resource/images/accompany-detail/2017-05-31.png) no-repeat center;
    background-size: cover;
    border: 1px solid #dddddd;
}

.board-accompany-info{
	display: block;
	position: ;

	width: 205px;
	height: 100%;
	
	padding: 5px;
	float: right;
	
	/* background: blue; */

}

.info-item{
	height: 33%;
	font-size: 11px;
}

.item-nickname{
	font-family: 'SpoqaBold';
	font-size: 12px;
}

.item-country-date{
	font-size: 10px;
	line-height: 1.5;
	margin-top: 3px;
}

.board-title{
	display:flex;
	flex-direction: column;
	
	justify-content: center;
	vertical-align: middle;
	align-items: center;
	
	
	width: 100%;
	height: 160px;
	
	/* margin-top: 10px; */
	
	border-bottom: 1px solid #efefef;
		
	/* border: 1px solid blue; */
	cursor: pointer;
}

.board-title-detail {
	display: flex;
	
	justify-content: center;
	padding: 20px;
	
	font-weight: 900;
	font-size: 14px;
	
	width: 100%;
}

.board-title-detail span{
	text-align: center;
	width: 100%;
}

.board-info{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	wdith: 100%;
	height: 45px;
	
	font-size: 10px;
	
	margin-top: 5px;
	
	/* border: 1px solid blue; */
}

.board-info-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	
	width: 205px;
	height: 100%;
	/* background: red; */
}

.board-info-item{
	display: table;
	
	width: 30px;
	height: 100%;
	
	color: #999;
}

.board-info-item span{
	display: table-cell;
	text-align: left;
	vertical-align: middle;
	text-align: center;
}

.item-style{
	width: 50px;
	margin-left: 7px;
}

.item-style>span{
	text-align: left;
}

.board-registration-time{
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	color: #999;
	line-height: 0.8;
	
	width: 60px;
	height: 100%;
	/* background: red; */
}

.board-registration-time span{
	text-align: center;
	width: 100%;
}

.page-info-container {
    clear: left;
    
   	display: block;
    
    
    width: 800px;
    height: 55px;
    
    margin: auto;	
    margin-top: 20px;
    
    /* border: 3px solid red;    */   
}

.page-info-container span{
	text-align: center;
	width: 100%;
}

.page-info-container .page{
	display:flex;
	justify-content:center;
	align-items:center;
}

@media all and (max-width: 1240px){
	.board-container{
		height: 2100px;
		width: 100%;
	}
	
	.board-wrapper{
		width: 400px;
		height: 1930px;
	}
	
	.page-info-container{
		width: 400px;
	}

}

@media all and (max-width: 768px){
	#main-container{
		display: block;
		width: 100%;	
	}
	
	#filter-container{
		width: 100%;
		min-width: 320px;
	}
	
	.board-container{
		height: 1920px;
		width: 100%;
	}

	#map-container{
		display: inline-block;
		position: relative;
		float: left;
		clear: both;
		
		padding-top: 0px;
		height: 500px;
		width: 100%;
	}
	
	.page-info-container{
		width: 300px;
	}
	
	#footer{
		width: 100%;
		margin-top: 0px;
	}
	
	
	
	.board-wrapper{
		width: 330px;
		height: 1750px;
		margin: auto;
	}

	.board-content{
		padding: 10px;
	}
	
	.board-card{
		width: 330px;
		height: 270px;
		padding: 0px;
	}
	
	.board-detail{
		width: 200px;
		height: 55px;
	}
	
	.board-accompany-info{
		width: 140px;
	}
	
	.board-title{
		height: 135px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.board-info{
		margin-top: 5px;
		height: 40px;
	}
	
	.board-info-item{
	display: table;
	
	width: 30px;
	height: 100%;
	
	color: #999;
	}
	
	.board-info-item span{
		display: table-cell;
		text-align: left;
		vertical-align: middle;
		text-align: center;
	}
	
	.item-style{
		width: 50px;
		margin-left: 7px;
	}
	
	.item-style>span{
		text-align: left;
	}
	
		
}




@media all and (max-width: 350px){
		

	
	.board-wrapper{
		width: 280px;
		height: 1750px;
		margin: auto;
	}

	.board-content{
		padding: 10px;
	}
	.board-card{
		width: 280px;
		height: 270px;
		padding: 0px;
	}
	
	.board-bookmark{
		width: 30px;
		height: 30px;
		
	}
	
	.board-detail{
		width: 200px;
		height: 55px;
	}
	
	.board-accompany-info{
		width: 140px;
	}
	
	.board-title{
		height: 140px;
		margin-top: 15px;
		margin-bottom: 0;
	}
	
	.board-info{
		height: 35px;
	}
	
	.board-info-item span{
		display: table-cell;
		text-align: left;
		vertical-align: middle;
		text-align: center;
	}
	
	.item-style{
		width: 50px;
		margin-left: 7px;
	}
	
	.item-style>span{
		text-align: left;
	}
	
}








#gender-content, #age-content, #style-content {
	display: none;
	position: absolute;
	background-color: #f9fdff;
	min-width: 180px;
  		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
   	top: 60px;
   	margin-left: 10px;

   	z-index: 1;
}

#gender-content{
	margin-left: 10px;
	height: 120px;
}

#age-content{
	margin-left: 70px;
	min-height: 100px !important;
	width: 320px;
}

#age-content-wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	
	width: 100%;
	height: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
}


#style-content{
	margin-left: 130px;
}

#gender-content ul, #style-content ul{
	display: table;
	width: 100%;
}

#gender-content li{
	display: table-cell;
    cursor: pointer;
    width: 100%;
    height: 40px;
    color: rgba(51, 181, 229, 1);
    padding-left: 15px;
    vertical-align: middle;
}

#gender-content li:hover{
	background: #e8f8ff;
}

#style-content li{
	display: table-cell;
    cursor: pointer;
    width: 100%;
    height: 40px;
    color: rgba(51, 181, 229, 1);
    padding-left: 15px;
    vertical-align: middle;
}

#style-content li:hover{
	background: #e8f8ff;
}

#btn-gender, #btn-age, #btn-style, #btn-write{
	color: #fff;
	border: none;
	outline: none;

	border-radius: 0;
	font-weight: 500;
	letter-spacing: 1px;
	background: #87deff;
}

#btn-gender:hover, #btn-age:hover, #btn-style:hover, #btn-write:hover{
	background: #009ddb;
}

.ui-widget-header{
	background: #33b5e5 !important;

}

.ui-widget.ui-widget-content{
	border: 1px solid #33b5e5 !important; 
	background: #e8f8ff;
	width: 220px;
	height: 8px;
	top: 43%;
}

.ui-slider .ui-slider-handle{
	width: 1.1em !important;
	height: 1.1em !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border-radius: 10px;
    border: 1px solid #33b5e5 !important;
    background: #fff !important;
    font-weight: normal;
    color: #454545;
    border-radius: 10px;
    outline: none;
}

.ui-slider-horizontal .ui-slider-handle {
 			top: -.4em;
}

#min-age, #max-age{
	width: 50px;
}

#age-content p{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#age-content p>input{
	color: #33b5e5;
	border: 0;
	font-weight: bold;
	text-align: center;
}

#age-content-container{
	display: block;
}

.age-search{
				background: #87deff;
				border: none;
				outline: none;
				border-radius: 0;
				color: #fff;
				width: 40px;
				height: 30px;
				float: right;
				margin-right: 10px;
}

.age-search:hover{
	background: #009ddb
}
