@CHARSET "UTF-8";

#main {
	padding-top: 60px;	
	background: #f5f5f5;
}

.frame {
	margin-left: 15%;
    margin-right: 15%;
    margin-top: 60px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
}

.content {
	width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.1);
}

.head-detail{
	display:flex;
	flex-direction: column;
	
	justify-content: center;
	vertical-align: middle;
	align-items: center;
	
	width: 270px;
	height: 60px;
	
	padding-bottom: ;
	
	/* border: 1px solid blue; */
}

.head-detail-wrapper{
	width: 100%;
	height: 100%;
}

.head-profile-pic{
	display: block;
	position:;
	
	width: 55px;
	height: 100%;
	
	float: left;
	left: 0px;
	
	margin-top: 4px;
	
	width: 55px;
    height: 55px;
    border-radius: 50px;
    /* box-shadow: 0 3px 3px 0 #e0e0e0; */
    background-size: cover;
    border: 1px solid #dddddd;
    background-position: center;
}

.head-accompany-info{
	display: block;
	position: ;

	width: 205px;
	height: 100%;
	
	padding: 5px;
	float: right;
	
	/* background: blue; */

}

.info-item{
	height: 33%;
	font-size: 11px;
}

.item-nickname{
	font-family: 'GodoM';
	font-size: 12px;
}

.item-country-date{
	font-family: 'Spoqa';
	font-size: 10px;
	line-height: 1.5;
	margin-top: 3px;
}

.detail-line {
	margin-top: 20px;
	border-top: 1px solid rgba(0,0,0,0.1);
}

.detail-title {
	width: 100%;
	margin-top: 20px;

	font-family: 'Spoqa-Bold';
    font-size: 14px;
    letter-spacing: 1px;
}

.detail-text {
	width: 100%;
	min-height: 300px;
	margin-top: 20px;
	
	font-family: 'Spoqa-Light';
    font-size: 13px;
    line-height: 1.7;
}

.foot {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
	margin: 10px;
	border-bottom: 3px solid black;
}

.char {
	width: 150px;
	display: flex;
	justify-content: space-between;
}

.char .item1 {
	width: 50px;
	height: 30px;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	text-align: center;
	border: 1px solid #dddddd;
}

.char .item2 {
	width: 50px;
	height: 30px;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	text-align: center;
	border: 1px solid #dddddd;
}

.char .item3 {
	width: 50px;
	height: 30px;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	text-align: center;
	border: 1px solid #dddddd;
}

.chat {
	height: 30px;
}

.reply {
	width: 100%;
	height: 30px;
	display: flex;
	justify-content: space-between;
}

.left {
	width: 150px;
	display: flex;
}

.left .view {
	display: flex;
	margin-left: 15px;
	align-items: center;
}

.right {
	display: flex;
	margin-left: 15px;
	align-items: center;
}

.rep {
	width: 100%;
	min-height: 70px;
	padding: 3px;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	border: 1px solid #dddddd;
}

.void  {
	width: 100%;
	height: 100%;
	display: flex;
	padding: 5px;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	border: 1px solid #dddddd;
}

.re-text {
	flex-grow: 5.5;
	margin-right: 5px;
}

.re-text textarea {
	width: 100%;
	height: 100%;
	padding: 5px;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	border: 1px solid #dddddd;
}

.re-list {
	width: 100%;
	min-height: 100px;
	padding: 3px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	border: 1px solid #dddddd;
}
.list-void  {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 5px;
}

.id-date {
	width: 100%;
	height: 20px;
	padding-right: 5px;
	margin-bottom: -5px;
	display: flex;
	justify-content: space-between;
}

.re-id {
	width: 120px;
	margin-left: 63px;
	display: flex;
	justify-content: center;
	border: 1px solid #dddddd;
}

.re-date {
	width: 120px;
	text-align: conter;
	display: flex;
	justify-content: center;
	border: 1px solid #dddddd;
}

.list-content {
	
	width: 100%;
	height: 100%;
	display: flex;
	padding: 5px;
}

.list-pic {
	width: 53px;
	height: 53px;
	border-radius: 50px;
	margin-right: 5px;
	border: 1px solid #dddddd;
}

.list-text {
	flex-grow: 6;
	padding: 5px;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	border: 1px solid #dddddd;
}

.map-container {
	min-width: 365px;
	height: 380px;
	margin-top: 10px;
	margin-left: 20%;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	border: 1px solid #dddddd;
	margin-right: 20%;
}

@media all and (max-width:600px) {
	#main {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.frame {
		width: 100%;
		background: #F6F6F6;
		box-shadow: 0 3px 3px 0 #e0e0e0;
		display: flex;
		border: 1px solid #dddddd;
	}
	.map-container {
		width: 100%;
		height: 380px;
		margin-top: 10px;
		box-shadow: 0 3px 3px 0 #e0e0e0;
		border: 1px solid #dddddd;
	}
}