@CHARSET "UTF-8";

#main {
	min-height: 0px;
	padding-top: 70px;
}

.frame {
	min-width: 365px;
	margin-left: 20%;
	margin-right: 20%;
	background: #F6F6F6;
	display: flex;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	border: 1px solid #dddddd;
}

.content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;
}

.head {
	display: flex;
	width: 100%;
}

.profile {
	display: flex;
	flex-grow: 2;
}

.pic {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	background:
		url("/TravelWM/resource/images/accompany-detail/2017-05-31.png")
		no-repeat center;
	background-size: cover;
	border: 1px solid #dddddd;
}

.info {
	width: 200px;
	height: 100px;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-left: 10px;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	background: #D5D5D5;
	border: 1px solid #dddddd;
}

.info .item {
	box-shadow: 0 3px 3px 0 #e0e0e0;
	flex-grow: 1;
	border: 1px solid #dddddd;
}

.bookmark {
	flex-grow: 1;
	display: flex;
	justify-content: flex-end;
}

.bookmark a {
	margin-right: 10px;
}

.detail-title {
	width: 100%;
	text-align: center;
	min-height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	background: #D5D5D5;
	border: 1px solid #dddddd;
}

.text {
	width: 100%;
	min-height: 200px;
	padding: 10px;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	background: #D5D5D5;
	border: 1px solid #dddddd;
}

.foot {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
	margin: 10px;
	border-bottom: 3px solid black;
}

.char {
	width: 150px;
	display: flex;
	justify-content: space-between;
}

.char .item1 {
	width: 30px;
	height: 30px;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	border-radius: 50px;
	background:
		url("/TravelWM/resource/images/accompany-detail/ic_access_time_black_24dp_1x.png")
		no-repeat center;
	border: 1px solid #dddddd;
}

.char .item2 {
	width: 30px;
	height: 30px;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	border-radius: 50px;
	background:
		url("/TravelWM/resource/images/accompany-detail/ic_flight_takeoff_black_24dp_1x.png")
		no-repeat center;
	border: 1px solid #dddddd;
}

.char .item3 {
	width: 30px;
	height: 30px;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	border-radius: 50px;
	background:
		url("/TravelWM/resource/images/accompany-detail/ic_shopping_cart_black_24dp_1x.png")
		no-repeat center;
	border: 1px solid #dddddd;
}

.chat {
	height: 30px;
}

.reply {
	width: 100%;
	height: 30px;
	display: flex;
	justify-content: space-between;
}

.left {
	width: 150px;
	display: flex;
}

.left .view {
	display: flex;
	margin-left: 15px;
	align-items: center;
}

.right {
	display: flex;
	margin-left: 15px;
	align-items: center;
}

.rep {
	width: 100%;
	min-height: 70px;
	padding: 3px;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	border: 1px solid #dddddd;
}

.void  {
	width: 100%;
	height: 100%;
	display: flex;
	padding: 5px;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	border: 1px solid #dddddd;
}

.re-text {
	flex-grow: 5.5;
	margin-right: 5px;
}

.re-text textarea {
	width: 100%;
	height: 100%;
	padding: 5px;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	border: 1px solid #dddddd;
}

.re-list {
	width: 100%;
	min-height: 100px;
	padding: 3px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	border: 1px solid #dddddd;
}
.list-void  {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 5px;
}

.id-date {
	width: 100%;
	height: 20px;
	padding-right: 5px;
	margin-bottom: -5px;
	display: flex;
	justify-content: space-between;
}

.re-id {
	width: 120px;
	margin-left: 63px;
	display: flex;
	justify-content: center;
	border: 1px solid #dddddd;
}

.re-date {
	width: 120px;
	text-align: conter;
	display: flex;
	justify-content: center;
	border: 1px solid #dddddd;
}

.list-content {
	
	width: 100%;
	height: 100%;
	display: flex;
	padding: 5px;
}

.list-pic {
	width: 53px;
	height: 53px;
	border-radius: 50px;
	margin-right: 5px;
	background:
		url("/TravelWM/resource/images/accompany-detail/2017-06-08.png")
		no-repeat center;
	background-size: cover;
	border: 1px solid #dddddd;
}

.list-text {
	flex-grow: 6;
	padding: 5px;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	border: 1px solid #dddddd;
}

.map-container {
	min-width: 365px;
	height: 380px;
	margin-top: 10px;
	margin-left: 20%;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	border: 1px solid #dddddd;
	margin-right: 20%;
}

@media all and (max-width:600px) {
	#main {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.frame {
		width: 100%;
		background: #F6F6F6;
		box-shadow: 0 3px 3px 0 #e0e0e0;
		display: flex;
		border: 1px solid #dddddd;
	}
	.map-container {
		width: 100%;
		height: 380px;
		margin-top: 10px;
		box-shadow: 0 3px 3px 0 #e0e0e0;
		border: 1px solid #dddddd;
	}
}