@CHARSET "EUC-KR";
h2{
	font-size: 25px;
}

img{
	cursor: pointer;
}

label{
	cursor:pointer;
	margin:0px;
}

body{
	/* background: linear-gradient(to bottom, #cee7d4 0%, #87deff 100%); */
}
/* #f5f4c9 */
/* #cee7d4 */
/* ----------------Section-------------------- */
.matching-page-container{
	display:flex;
	flex-direction: row;
	
	margin-top:60px;
	
	background: url("../../images/wallpaper/EnglandStreet.jpg") no-repeat;
	background-size:cover;
}

.matching-page-container>div:first-child{
	display:flex;
	flex-direction: row;
	
	padding-left: 40px;
	padding-right: 40px;
	
	background-color: rgba(0, 0, 0, 0.6);
	min-height:100%;
	min-width:100%;
	left: 0px;
	top:0px;
}

.accompany-option-section{
	display: flex;
	
	width: 50%;

	padding-top: 40px;
	padding-bottom: 40px;
}

.matched-accompany-section{
	display: flex;
	flex-direction: column;
	
	width: 50%;
	
	padding-top: 40px;
	padding-bottom: 40px;
}





/* --------------Matched Accompany Section Part----------------- */
.matched-accompany-form{
	width: 100%;
	height: 100%;
	
	padding-left: 30px;
	padding-right: 30px;
	
}

.matched-accompany-info{
	display: flex;
	justify-content: space-around;
	
	background: rgba(255,255,255,0.9);
	
	height: 50px;
	width: 100%;
	
	min-width: 420px;
}

.matched-accompany-info-container{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	
	width: 300px;
	height: 100%;
	
	background: red;
}





/* --------------Matched Accompany Section Slide Part----------------- */
*, *:before, *:after {
  box-sizing: border-box;
}

.window,
.matched-card-header,
ul,
li {
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.slide-container {
  margin: auto;
  width: 420px;
  text-align: center;
}

.wrapper {
  padding-top: 20px;
}
.wrapper:focus {
  outline: 0;
}

.matched-card {
  background: white;
  
  height: 550px;
  width: 300px;
  display: inline-block;
  margin: auto;
  border-radius: 19px;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
}

.matched-card-header {
	color: #444;
	text-align: center;
 	
	height: 280px;
	width: 100%;
}

.matched-card-header:before {
  border: 1px solid rgba(68, 68, 68, 0.3);
  border-radius: 100%;
  content: "";
  height: 135px;
  left: 0;
  margin: 55px auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 135px;
  z-index: 2;
  -webkit-transform: scale(1.24, 1.24);
  -moz-transform: scale(1.24, 1.24);
  transform: scale(1.24, 1.24);
  
}

.matched-card-header img {
  border: 3px solid #333;
  border-radius: 100%;
  height: 140px;
  margin: 4em auto 2.5em;
  object-fit: cover;
  width: 140px;
  
  pointer
}

.matched-card-header .matched-nicName {
  display: inline-block;
  
  font-family: 'GodoM', sans-serif;
  font-size: 28px;
  letter-spacing: -2px;

  margin: 0 auto;

  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.matched-location{
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 100%;
	height: 120px;
}

.accom-location{
	font-family: "Spoqa";
	font-size: 20px;
	
	margin-bottom: 10px;
}

.accom-date{	
	font-family: "Spoqa-Light";
	font-size: 14px;
}

.btn-matched-message{
	display: block;
	position: relative;
	
	height: 40px;
	width: 60%;
	
	margin: 20px auto;
	
	border: none;
	border-radius: 20px;
	background: #33b5e5;
	
	color: #fff;
	font-family: "Spoqa";
	font-size: 13px;
	letter-spacing: 3px;
  	line-height: 40px;
	text-align: center;
	vertical-align: middle;
	
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

.btn-matched-message:hover {
  background: #0099d6;
  color: #fff;
}

.matched-info {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	
	justify-content: space-between;
	
  height: 70px;
  
  color: black;
  border-top: 1px solid #efefef;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

.matched-info .matched-info-item {
	display: flex;
    align-items: center;
    justify-content: center;

	height: 100%;
	width: 33%;
	padding: 20px 15px;
}

.matched-info .item-value {
	font-family: 'GodoM';
	font-size: 12px;
	color: #999;
	
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.slick-prev {
  left: 0px !important;
  z-index: 999;
}

.slick-next {
  right: 0px !important;
  z-index: 999;
}





/* ---------------Section 안의 요소들----------------- */
.matching-info-form{
	width: 100%;
	height: 100%;
	
	padding-left: 30px;
	padding-right: 30px;
}
.accompany-manage{
	display:flex;
	flex-direction:column;
	margin-bottom: 20px;
	
	border: 1px solid rgba(255,255,255,0.9);

	height: 300px;
	width: 100%;
}

.accompany-manage-title{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	
	background: rgba(255,255,255,0.9);
	
	width: 100%;
	height: 50px;
}

.accompany-manage-title span{
	display: ;
	
	width: 100%;
	height: 100%;
	
	padding: 15px;
	
	font-family: "GodoM";
	font-size: 16px;
	color: #444;
	
	vertical-align: middle;
}

.accompany-option{
	display:flex;
	flex-direction:column;
	margin-bottom: 20px;
	
	border: 1px solid rgba(255,255,255,0.9);

	height: 300px;
	width: 100%;
}

.accompany-option-title{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	
	background: rgba(255,255,255,0.9);
	
	width: 100%;
	height: 50px;
}

.accompany-option-title span{
	display: ;
	
	width: 100%;
	height: 100%;
	
	padding: 15px;
	
	font-family: "GodoM";
	font-size: 16px;
	color: #444;
	
	vertical-align: middle;
}


.sex, .distance, .style{
	height: 35px;
}












.accompany-info-list{
	padding-left: 10px;
}

.accompany-info-list div{
	margin-bottom: 10px;
}

.accom-info-title{
	display:flex;
	flex-direction:column;
	margin-bottom: 8%;
}

.accom-info-title>h2{
	display:flex;
	flex-direction:column;
	
	font-size: 22px;
	font-family: 'GodoM' !important;
}

.accom-info-title .manage-page{
	display:flex;
	flex-direction:column;
	align-items:flex-end;
}

.manage-page-no-accom-info{
	display:flex;
	flex-direction:column;
	align-items:center;;
}





.matched-accompany-section{
	display:flex;
	flex-direction:column;
	
}

.matched-list{
	background-color: #ffffff;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	border: 1px solid #dddddd;	
	padding:2%;
	margin-bottom:20px;
	display:flex;
	justify-content:flex-end;
	align-items:center;
}

.matched-list-button{
	display:flex;
	justify-content:flex-end;	
}

.matched-list-box{
	background-color:white;
	border:1px solid black;
	height:100px;
	width:100px;
	display:none;
	position:absolute;
	left:0px;
	right:0px;
}

.matched-list>h3{
	font-size: 10px;
}

.matched-profile{
	background-color: #ffffff;
	box-shadow: 0 3px 3px 0 #e0e0e0;
	border: 1px solid #dddddd;
	padding:2%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	min-height:60%;
	margin-bottom:20px;
}

.matched-profile>ul{
	display:flex;
	justify-content:space-between;
	flex-grow:4;
	
}

/*--- 원모양의 프로필---- */
.matched-profile>ul>li:nth-child(2){
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border : 1px solid black;
}

/*--- --------------------------- */

.matched-profile>div{
	display:flex;
	justify-content:center;
}

.matched-profile>div:first-child{
	flex-grow:1;
}

.matched-profile>div:last-child{
	flex-grow:2;
}

.matched-profile-img{
	align-items:center;
}
.matched-profile-img>li:first-child,
.matched-profile-img>li:last-child{
	display:flex;
	justify-content:center;
	width :48px;
	height:48px;
}

.prev-button, .next-button{
	display:none;
}


.member-info{
	border:1px solid black;
	display:flex;
	flex-direction:row;
	item-aligns:center;
	justify-content:center;
}


/* -------- 개별 요소들 -----------*/

.distance{
	flex-direction:column;
}

.distance>div{
	display:flex;
}

.distance>div>label{
	flex-grow:1;
}

.distance>div>select{
	flex-grow:3;
}

#boy{
	margin-right:5%;
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}


/* -----------동행 관리 부분-------------- */
.label-for-accom-info{
	cursor:pointer;
	font-weight: normal;
	margin-left:10px;	
}

.sex .select-container{
	display:flex;
	flex-grow:3;
	align-items:center;
}

.sex .select-container div{
	font-size: 14px;
	margin-right: 20px;
}

.sex .select-box{
	display : flex;
}

.sex .select-box label{

}

.sex{

}

.sex .select-label{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	padding-left: 10px;
	align-self:center;
	flex-grow:1;
	font-size: 14px;
}

.age-container .select-label{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	align-self:center;
	flex-grow:1;
	padding-left: 10px;
	font-size: 14px;
	font-family: 'GodoM' !important;
}

.sex input{
	margin:0px; /* 부트스트랩 초기화 */
	margin-left:4px;
}

.distance .select-label{
	flex-grow:1;
}

.style .select-label{
	flex-grow:1;
}
/*------------------- media쿼리--------------*/
@media all and (max-width:480px){
	.matching-page-container{
		margin-left:0px;
		margin-right:0px;
		flex-wrap:wrap;
	}
	
	   .Col-sm-1{
	      width:16.66666666%;
	   }
	   
	   .Col-sm-2{
	      width:33.33333333%;
	   }
	   
	   .Col-sm-3{
	      width:50%;
	   }
	   
	   .Col-sm-4{
	      width:66.66666666%;
	   }
	   
	   .Col-sm-5{
	      width:83.33333333%;
	   }
	   
	   .Col-sm-6{
	      width:100%;
	   }
}

@media all and (min-width:480px) and (max-width:1024px){
	.matching-page-container{
		flex-wrap:wrap;
	}
	
   .Col-sm-1{
      width:16.66666666%;
   }
   
   .Col-sm-2{
      width:33.33333333%;
   }
   
   .Col-sm-3{
      width:50%;
   }
   
   .Col-sm-4{
      width:66.66666666%;
   }
   
   .Col-sm-5{
      width:83.33333333%;
   }
   
   .Col-sm-6{
      width:100%;
   }
}


@media all and (min-width:1024px){
   .Col-lg-1{
      width:8.333333%;
    
   }
   
   .Col-lg-2{
      width:16.666666;
 
   }
   
   .Col-lg-3{
      width:24.999999%;
   
   }
   
   .Col-lg-4{
      width:33.333333%;

   }
   
   .Col-lg-5{
      width:41.666666%;
 
   }
   
   .Col-lg-6{
      width: 49.999999%;

   }
   
   .Col-lg-7{
      width: 57.333333%;

   }
   
   .Col-lg-8{
      width: 65.666666%;

   }
   
   .Col-lg-9{
      width: 73.999999%;
   }
   
   .Col-lg-10{
      width:80.333333%;

   }
   
   .Col-lg-11{
      width:88.666666%;

   }
   
   .Col-lg-12{
      width:100%;

   }
}



/* ------------나이관련 css------------------------------------- */

#gender-content, #age-content, #style-content {
	display: none;
	position: absolute;
	background-color: #f9fdff;
	min-width: 180px;
  		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
   	top: 60px;
   	margin-left: 10px;

   	z-index: 1;
}

#gender-content{
	margin-left: 10px;
	height: 120px;
}

#age-content{
	margin-left: 70px;
	min-height: 100px !important;
	width: 320px;
}

#age-content-wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	
	width: 100%;
	height: 60px;

}


#style-content{
	margin-left: 130px;
}

#gender-content ul, #style-content ul{
	display: table;
	width: 100%;
}

#gender-content li{
	display: table-cell;
    cursor: pointer;
    width: 100%;
    height: 40px;
    color: rgba(51, 181, 229, 1);
    padding-left: 15px;
    vertical-align: middle;
}

#gender-content li:hover{
	background: #e8f8ff;
}

#style-content li{
	display: table-cell;
    cursor: pointer;
    width: 100%;
    height: 40px;
    color: rgba(51, 181, 229, 1);
    padding-left: 15px;
    vertical-align: middle;
}

#style-content li:hover{
	background: #e8f8ff;
}

#btn-gender, #btn-age, #btn-style, #btn-write{
	color: #fff;
	border: none;
	outline: none;

	border-radius: 0;
	font-weight: 500;
	letter-spacing: 1px;
	background: #87deff;
}

#btn-gender:hover, #btn-age:hover, #btn-style:hover, #btn-write:hover{
	background: #009ddb;
}

.ui-widget-header{
	background: #33b5e5 !important;

}

.ui-widget.ui-widget-content{
	border: 1px solid #33b5e5 !important; 
	background: #e8f8ff;
	width: 220px;
	height: 8px;
	top: 43%;
}

.ui-slider .ui-slider-handle{
	width: 1.1em !important;
	height: 1.1em !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border-radius: 10px;
    border: 1px solid #33b5e5 !important;
    background: #fff !important;
    font-weight: normal;
    color: #454545;
    border-radius: 10px;
    outline: none;
}

.ui-slider-horizontal .ui-slider-handle {
 			top: -.4em;
}

#min-age, #max-age{
	margin-top: 46%;
	width: 50px;
	border: none;
	
}

#age-content p{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#age-content p>input{
	color: #33b5e5;
	border: 0;
	font-weight: bold;
	text-align: center;
}

.temp{
	text-align: right;
}
#age-content-container{
	display: block;
}

.age-search{
				background: #87deff;
				border: none;
				outline: none;
				border-radius: 0;
				color: #fff;
				width: 40px;
				height: 30px;
				float: right;
				margin-right: 10px;
}

.age-search:hover{
	background: #009ddb
}

.head-line{
    content: '';
    margin-top: 5px;
    margin-bottom: 5px;
    width: 80px;
    height: 2px;
    background: rgba(51, 181, 229, 1);
}