@CHARSET "UTF-8";

.main-menu>li:first-child a {
    color: #0099d6;
    border-bottom: 3px solid #0099d6;
}

.hidden{
	display:none;
}

#main {
	min-height: 0px;
	padding-top: 60px;
	display:flex;
	justify-content:center;
	align-items:center;
	
	background: #f5f5f5;
}

.frame {
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 60px;
	margin-bottom: 70px;
	
	max-width: 800px;

	display: flex;
	flex-direction: column;
	width:100%;
}

.accboard-reg-title{
	display: table;
	text-align: left;		
}

.head-start-line{
			display: block;
			background: #33b5e5;
			width: 10px;
			height: 30px;
			
			margin-right: 10px;
}

.accboard-reg-title h2{
	
	padding-top: 0px;
	display: table-cell;
	vertical-align: bottom;
	
	letter-spacing: 1px;
	font-family:'GodoM' !important;
	font-size: 25px;
}





/* --Main Content Part----------------------------------------------- */
.content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	
	margin-top: 20px;
	padding: 25px;
	
	background: #fff;
	border: 1px solid rgba(0,0,0,0.1);
}

.content .form{
	width:100%;
}





/* --Content Head Part----------------------------------------------- */
.head {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	align-items: center;
}

.head-title {
	display: table;
	width: 100px;
	text-align: center;
}

.head-title>span{
	display: table-cell;
	height: 100%;
	font-size: 15px;
	vertical-align: middle;
	letter-spacing: 1px;
}

.head-content {
	width: 200px;
	flex-grow: 2;
	margin-left: 10px;
}

.ti {
	width: 100%;
	padding-left: 10px;
	
	outline: none;
    border: 1px solid #dddddd;
    border-radius: 0;
    box-shadow: none;
}

.calendar-reg{
	border-left: none !important;
}






/* --Content Detail Part----------------------------------------------- */
.selec-detail {
	display: flex;
	align-items: center;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.detail-title {
	display: table;
	width: 100px;
	text-align: center;
}

.detail-title>span{
	display: table-cell;
	height: 100%;
	font-size: 15px;
	vertical-align: middle;
	letter-spacing: 1px;
}

.search-bar-container-accom{
	width:200px;
	display:flex;
	flex-wrap:nowrap;
	
	flex-grow: 2;
	margin-left: 10px;
}





/* --Content Text Part----------------------------------------------- */
.text {
	width: 100%;
	height: 300px;
}

.text textarea {
	width: 100%;
	height: 100%;
	padding: 15px;
}

.form-textarea{
	padding: 10px;
	outline: none;
	border-radius: 0;
    border: none;	
    border: 1px solid #dddddd;
}





/* --Content Style Part----------------------------------------------- */
.selec-style {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	align-items: center;
	
	margin-top: 20px;
}

.style-title {
	display: table;
	width: 100px;
	text-align: center;
}

.style-title>span{
	display: table-cell;
	height: 100%;
	
	color: #777777;
	font-size: 13px;
	vertical-align: middle;
	letter-spacing: 1px;
}

.style-content{
	display: block;
    position: relative;
    width: 200px;
    
    margin-left: 10px;
    padding-left: 10px;
    height: 35px;
    box-sizing: border-box;
    border: solid 1px #dcdcdc;
}

.style-content:hover{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.style-content select{
	display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    
    font-family: 'Spoqa-Light';
    font-size: 12px;
    padding-left: 10px;
    
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    -webkit-appearance: none;
    box-sizing: border-box;
}

.style-content-arrow{
	position: absolute;
    top: 14px;
    right: 7px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 5px 3px 0 3px;
    border-color: #7b7b7b transparent transparent transparent;
}





/* --Content Attach Part----------------------------------------------- */
.attach-file {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	align-items: center;
	
	margin-top: 20px;
}

.attach-title {
	display: table;
	width: 100px;
	text-align: center;
}

.attach-title>span{
	display: table-cell;
	height: 100%;
	
	color: #777777;
	font-size: 13px;
	vertical-align: middle;
	letter-spacing: 1px;
}

.attach-content{
	display: block;
    position: relative;
    width: 200px;
    
    margin-left: 10px;

    height: 35px;
    box-sizing: border-box;
}



/* --Content Button Part----------------------------------------------- */
.buttons {
	display: flex;
	justify-content: flex-end;
	
}

#cancel{
	border-radius: 0;
	outline: none;
	border: none;
	background: #eee;
	
	color: #777;
}

#cancel:hover{
	background: #dcdcdc;
}

.submit {
	margin-left: 10px;
}

#submit{
	border-radius: 0;
	outline: none;
	border: none;
	
	background: #33b5e5;
}

#submit:hover{
	background: #009dd6;
}





/* --Mobile Version Part----------------------------------------------- */
@media all and (min-width:480px) and (max-width:960px) {
	#main {
		display: flex;
		padding-top:60px;
	}
	.frame {
		width: 100%;
		margin-left: 100px;
		margin-right: 100px;
		display: flex;
	}
}

@media all and (max-width:480px) {
	.frame {
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
		display: flex;
		align-items:center;
	}
	
	#main{
		align-items:inherit;
	}
	
.sel .search-bar-container !important{
	flex-wrap:wrap;	
}
}





/* --File Upload API Part----------------------------------------------- */
.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    max-width: ;
    height: 33px;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}
.no-js .inputfile + label {
    display: none;
}
.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}
.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}
/* style 6 */
.inputfile-6 + label {
    color: #d3394c;
}
.inputfile-6 + label {
    border: 1px solid #dddddd;
    background-color: #fff;
    padding: 0;
}
.inputfile-6:focus + label,
.inputfile-6.has-focus + label,
.inputfile-6 + label:hover {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.inputfile-6 + label span,
.inputfile-6 + label strong {
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}
.inputfile-6 + label span {
    width: 200px;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}
.inputfile-6 + label strong {
	line-height: 0;
    height: 100%;
    color: #fff;
    background-color: #dddddd;
    display: inline-block;
}
.inputfile-6:focus + label strong,
.inputfile-6.has-focus + label strong,
.inputfile-6 + label:hover strong {
    background-color: #66afe9;
}





/* --File Upload API Customization Part----------------------------------------------- */
.inputfile{
	height: 0px !important;
}
.inputfile-6 + label span {
    color: #33b5e5;
    font-size: 0.75em;
    line-height: 1;
}
input[type=file]:focus {
	outline: none;
}

@media screen and (max-width: 50em) {
	.inputfile-6 + label strong {
		display: block;
	}
}