<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pitapany.web.dao.AccompanyBoardDao">
	<select id="getList" resultType="com.pitapany.web.entity.AccompanyBoard">
		SELECT * 
		FROM `pitapanydb`.`AccompanyBoard`
	</select>
	
	<select id="get" resultType="com.pitapany.web.entity.AccompanyBoard">
		SELECT * 
		FROM `pitapanydb`.`AccompanyBoard`
		WHERE id=#{id}
	</select>
	
	<insert id="add" parameterType="com.pitapany.web.entity.AccompanyBoard">
		
	</insert>
	
	<update id="update" parameterType="com.pitapany.web.entity.AccompanyBoard">
		
	</update>
	
	<delete id="delete">
	  DELETE FROM AccompanyBoard
      WHERE id=#{id}
	</delete>
	
</mapper>
