<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pitapany.web.dao.ChattingDao">
	<select id="getList" resultType="com.pitapany.web.entity.Chatting">
		SELECT * 
		FROM `pitapanydb`.`Chatting`
	</select>
	
	<select id="get" resultType="com.pitapany.web.entity.Chatting">
		SELECT * 
		FROM `pitapanydb`.`Chatting`
		WHERE id=#{id}
	</select>
	
	<insert id="add" parameterType="com.pitapany.web.entity.Chatting">
		
	</insert>
	
	<update id="update" parameterType="com.pitapany.web.entity.Chatting">
		
	</update>
	
	<delete id="delete">
	  DELETE FROM Chatting
      WHERE id=#{id}
	</delete>
	
</mapper>
