<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pitapany.web.dao.CommunityTipDao">
	<select id="get" resultType="com.pitapany.web.entity.CommunityTipView">
			SELECT *
			FROM CommunityTipView
			WHERE id=#{id}
			ORDER BY regDate DESC
	</select>

	<select id="getList" resultType="com.pitapany.web.entity.CommunityTipView">
			SELECT *
			FROM CommunityTipView
			WHERE BINARY ${param2} LIKE '%${param3}%' AND tipCategoryId LIKE '${param4}'
			ORDER BY regDate DESC
	        LIMIT  ${(param1-1)*10},10
	</select>

	<select id="count" resultType="Integer">
			SELECT count(*) AS count
			FROM CommunityTipView
			WHERE BINARY ${param1} LIKE '%${param2}%' AND tipCategoryId LIKE '${param3}'
	</select>
	
	<insert id="add" parameterType="com.pitapany.web.entity.CommunityTip">
		<selectKey keyProperty="id" order="BEFORE" resultType="String">
			SELECT IFNULL(max(cast(id as unsigned))+1,'1') id FROM CommunityTip
		</selectKey>
		INSERT INTO `pitapanydb`.`CommunityTip`
		(
		`id`,
		`title`,
		`content`,
		`memberId`,
		`tipCategoryId`
		)
		VALUES
		(
		#{id},
		#{title},
		#{content },
		#{memberId},
		#{tipCategoryId}
		)
	</insert>
	
	<update id="update" parameterType="com.pitapany.web.entity.CommunityTip">
		UPDATE `pitapanydb`.`CommunityTip`
		SET
		`title` = #{title},
		`content` = #{content},
		`tipCategoryId` = #{tipCategoryId}
		WHERE `id` = #{id}
	
	</update>


	<update id="addHits">
		UPDATE CommunityTip 
		SET hits = cast(hits as unsigned)+1 
		where id=#{id}
	</update>	
	
	<delete id="delete" parameterType="com.pitapany.web.entity.CommunityTip">
		DELETE FROM `pitapanydb`.`CommunityTip`
		WHERE id=#{id}
	</delete>
	
</mapper>