<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pitapany.web.dao.MemberDao">
	<select id="getMember" resultType="com.pitapany.web.entity.Member">
		SELECT * 
		FROM `pitapanydb`.`Member`
		WHERE id=#{id}
	</select>
	
	<select id="getList" resultType="com.pitapany.web.entity.Member">
		SELECT * 
		FROM `pitapanydb`.`Member`
	</select>
	
	<select id="get" resultType="com.pitapany.web.entity.Member">
		SELECT * 
		FROM `pitapanydb`.`Member`
		WHERE id=#{id}
	</select>
	
	<select id="getByEmail" resultType="com.pitapany.web.entity.Member">
		SELECT * 
		FROM `pitapanydb`.`Member`
		WHERE email=#{email}
	</select>
	
	<select id="getMatchCount" resultType="Integer">
		SELECT matchCount
		FROM `pitapanydb`.`Member`
		WHERE id=#{id}
	</select>
	
	<select id="getIdByEmail" resultType="String">
		SELECT id
		FROM `pitapanydb`.`Member`
		WHERE email=#{email}
	</select>
	
	<select id="getSizeByEmail" resultType="Integer">
		SELECT COUNT(email)
		FROM Member
		WHERE email=#{email}
	</select>
	
	<insert id="add" parameterType="com.pitapany.web.entity.Member">
		<selectKey order="BEFORE" keyProperty="id" resultType="String">
			SELECT IFNULL(max(cast(id as unsigned))+1,'1') id FROM Member
		</selectKey>
			INSERT 
			INTO `pitapanydb`.`Member`
			(
			`id`,
			`email`,
			`password`,
			`name`,
			`sex`,
			`birthday`,
			`phone`,
			`age`,
			`nicName`
			)
			VALUES
			(
			#{id},
			#{email},
			#{password},
			#{name},
			#{sex},
			#{birthday},
			#{phone},
			#{age},
			#{nicName}
			)
	</insert>
	
	<update id="update" parameterType="com.pitapany.web.entity.Member">
		UPDATE `pitapanydb`.`Member`
		SET
		`password` = #{password},
		`name` = #{name},
		`sex` = #{sex},
		`birthday` = #{birthday},
		`phone` = #{phone},
		`age` =#{age},
		`nicName` = #{nicName},
		WHERE `id` = #{id}
		
	</update>
	
	<update id="addMatchCount">
		update Member
		SET matchCount = matchCount-1
		WHERE id=#{id}
	</update>

	<update id="updateAgeAll">
	<![CDATA[
	UPDATE `pitapanydb`.`Member`
	SET
	`age` = (SELECT DATE_FORMAT(NOW(), '%Y') - 
    DATE_FORMAT(`birthday`, '%Y') - 
    (DATE_FORMAT(NOW(), '00-%m-%d') < DATE_FORMAT(`birthday`, '00-%m-%d'))+1 AS `age`)
	]]>	
	</update>
	
	<delete id="delete">
	  DELETE FROM Member
      WHERE id=#{id}
	</delete>
	
</mapper>
